.header {
  height: 90px;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
}

.text {
    color: #AAA;
    font-size: 26px;
    font-weight: 400;
    
    strong {
        color: black;
    }
}

.top {
    display: flex;
}

.sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.searchForm {
  position: relative;
  width: 300px;
}

.search {
  background-color: var(--mantine-color-gray-3);
  border: 2px solid transparent;
  border-radius: 20px;
  padding: 5px 40px 5px 10px; 
  width: 100%;
  font-size: 16px;
  outline: none;
}

.searchButton {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #555; 
  padding: 5px;
}

.searchButton:hover {
  color: #000;
}
