.header {
  height: 90px;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  border-bottom: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.text {
    color: #AAA;
    font-size: 26px;
    font-weight: 400;
    
    strong {
        color: black;
    }
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.searchbar {
    background-color: var(--mantine-color-dark-4);
}
