.list {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 8px;
  width: 200px;
}

h3 {
  font-weight: bold;
  margin-bottom: 12px;
  font-size: 18px;
}

a {
  color: #777;
  text-decoration: none;
  margin-bottom: 8px;
  padding: 8px 16px; 
  background-color: #e9e8e8; 
  border: 2px solid transparent; 
  border-radius: 20px;
  transition: color 0.2s ease, background-color 0.2s ease; 

  &:hover {
    color: #333;
    background-color: #767575; 
  }
}
